body {
  background-color: rgb(195, 202, 154);
}

.title {
  color: darkblue;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.btn {
  border: none;
  border-radius: 20px;
  width: 80px;
  height: 40px;
  background-color: rgb(104, 102, 152);
  transition: all;
  transition-duration: 350ms;
}
.btn:hover {
  transform: scale(1.1);
  background-color: greenyellow;
  color: rgb(231, 34, 142);
}
.addtask {
  color: rgb(211, 157, 18);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 30px;
  background-color: rgb(197, 223, 222);
}
.addtask::placeholder {
  color: rgb(148, 144, 153);
}

.for {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.searchTask {
  display: block;
  width: 200px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: solid 4px rgb(254, 185, 38);
  /* border: none; */
}

.searchTask:focus {
  border: solid 4px rgb(33, 228, 78);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  display: flex;
  gap: 10px;
  color: rgb(126, 87, 40);
  font-size: 20px;
  font-weight: 700;
  margin: 10px 10px;
}

.btnDelete {
  display: block;
  /* border: none; */
  border-radius: 20px;
  width: auto;
  height: 20px;
  background-color: rgb(229, 164, 129);
  transition: all;
  transition-duration: 350ms;
}
.btnDelete:hover {
  transform: scale(1.1);
  background-color: rgb(233, 131, 118);
  color: rgb(226, 214, 221);
}
.imago {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.imago {
  display: block;
  width: 400px;
  height: auto;
  margin: 0 auto;
}
