body {
  background-color: rgb(195, 202, 154);
}

.title {
  color: darkblue;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.btn {
  border: none;
  border-radius: 20px;
  width: 80px;
  height: 40px;
  background-color: rgb(104, 102, 152);
  transition: all;
  transition-duration: 350ms;
}
.btn:hover {
  transform: scale(1.1);
  background-color: greenyellow;
  color: rgb(231, 34, 142);
}
.addtask {
  color: rgb(211, 157, 18);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 30px;
  background-color: rgb(197, 223, 222);
}
.addtask::placeholder {
  color: rgb(148, 144, 153);
}

.for {
  display: flex;
  gap: 20px;
  justify-content: center;
}
